*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px 100px;
}

/* header */

header{
    background-color: #e579e6;
    height: 70px;
    margin-bottom: 15px;
}

/* main */

.jumbotron{
    background-color: #e1d67a;
    height: 250px;
    margin-bottom: 15px;
}

/* leadership-section */

.leadership-section{
    background-color: #0087ff;
    width: 100%;
    height: 350px;
    margin-bottom: 5px;
}

.section-title{
    background-color: #abcfe7;
    height: 50px;
}

/* section "articles" (aside-left + main-content + aside-right) */

.articles{
    padding: 10px 0;
}

aside{
    background-color: #abcfe7;
    height: 280px;
    width: calc((50% - 20px) / 2);
}

.main-content{
    background-color: #abcfe7;
    height: 280px;
    width: 50%;
    margin: 0 10px;
}

.float-left{
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* footer */

footer{
    background-color: #8801fe;
    height: 35px;
}